<a href="https://colab.research.google.com/github/jamissi/Estudos-DataScience/blob/main/Big_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#***SENAI: BIG DATA***

Estrutura de repetição até ser verdade:
```
while true:
```

Estrutura de repetição:

```
For i in range():
```

Para utilizar vários argumentos dentro de uma função:

```
*args - para utilizar varios argumentos  / **kwargs - para chave e valor

```

#***PYSPARK***

In [3]:
#Criando ambiente SPARK e criando bibliotecas necessárias:
!pip install pyspark
!pip install findspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285388 sha256=d6d41ece5de78a652533fd56fce8e50f0914bacd765afb353b5e9abf81c26977
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [4]:
#Importando bibliotecas instaladas:
import findspark
from pyspark.sql import SparkSession

In [5]:
#Importando funções do pyspark:
from pyspark.sql import functions as f

In [6]:
#Criando conexão com o SPARK
spark = SparkSession.builder.appName("JAMI").getOrCreate() #criando um objeto

In [7]:
spark

---

In [9]:
#@title Criando um dataframe com o ***PYSPARK***
dados = [("Gol", 1997), ("Yaris", 2019), ("Monza", 1986), ("Maverick", 1970)]
dados

[('Gol', 1997), ('Yaris', 2019), ('Monza', 1986), ('Maverick', 1970)]

In [10]:
colunas = ["Modelo", "Ano"]

In [11]:
#visualizando os tipos de dados das colunas do df
df = spark.createDataFrame(dados, colunas)
df

DataFrame[Modelo: string, Ano: bigint]

In [ ]:
df.show(2, truncate=False) #para quebrar no meio os dados será necessário colocar true no truncate

In [ ]:
df.toPandas()

In [ ]:
#title buscando dados especificos. Para exibir a pesquisa é necessário utilizar o SHOW()
df.where("Ano <= 2000").toPandas()

In [ ]:
df.where("Ano <= 2000").show()

In [ ]:
#@title Criando dataframe com listas
dados = [
    ("João", 18, "M"),
    ("Maria", 20, "F"),
    ("José", 18, "M"),
    ("Alex", 46, "M")
         ]

colunas = ["Alunos", "Idade", "Sexo"]

#criando o dataframe
df2 = spark.createDataFrame(dados, colunas)

#visualizando o df criado
df2.show()

In [ ]:
df2.where("idade > 18").show()

In [ ]:
df2.where("Alunos like '%o%'").show()  #utilizando like para filtrar o dataframe

In [ ]:
#@title Importando arquivo .csv para o ambiente spark
empresa = spark.read.options(header = True).csv(
    "/content/drive/MyDrive/Python/empresas/part*",
    sep= ";",
    inferSchema=True
)
#caminho
#empresa.show()
#empresa.orderBy(cols("razao_social".asc())).show(50, False)

In [ ]:
#@title Visualizando esquema do DataFrame
empresa.printSchema()

root
 |-- cnpj: integer (nullable = true)
 |-- razao_social: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_responsavel: integer (nullable = true)
 |-- capital_social: string (nullable = true)
 |-- porte: integer (nullable = true)
 |-- ente_federativo: string (nullable = true)

In [ ]:
#@title Verificando quantidade de registros(dados, linhas)
empresa.count()
print(f'{empresa.count():,.2f}')

4,585,679.00

******

##FAZENDO UM DATAFRAME

In [ ]:

empresa\
    .where("razao_social like '%MERCADAO%'")\
    .limit(7).show()

In [ ]:
empresa\
    .where("razao_social like '%MERCADO%'")\
    .count()

15116

In [ ]:
empresa\
    .where("razao_social like '%MERCADO%'")\
    .orderBy("razao_social")\
    .show()

In [ ]:
empresa\
  .where("razao_social like '%HOSPITAL%'")\
  .orderBy("razao_social")\
  .show(10, False)

In [ ]:
empresa\
    .where("razao_social like '%HOSPITAL%'")\
    .count()

##ALTERANDO COLUNAS DO DATAFRAME

--> TROCANDO O NOME DAS COLUNAS
--> TROCANDO CARACTERES POR OUTROS
--> MUDANDO O TIPO DE DADO

In [ ]:
empresa = empresa.withColumnRenamed("razao_social", "empresa")
empresa = empresa.withColumnRenamed("qualificacao_responsavel", "qualificacao")

In [ ]:
empresa.show()

In [ ]:
#@title Alterando campos no DataFrame com função REGEX:
empresa = empresa.withColumn("capital_social", f.regexp_replace("capital_social", ",", "."))
empresa.show()

+-----+--------------------+-----------------+------------+--------------+-----+---------------+
| cnpj|             empresa|natureza_juridica|qualificacao|capital_social|porte|ente_federativo|
+-----+--------------------+-----------------+------------+--------------+-----+---------------+
|  306|FRANCAMAR REFRIGE...|             2240|          49|          0.00|    1|           null|
| 1355|BRASILEIRO & OLIV...|             2062|          49|          0.00|    5|           null|
| 4820|REGISTRO DE IMOVE...|             3034|          32|          0.00|    5|           null|
| 5347|ROSELY APARECIDA ...|             2135|          50|          0.00|    5|           null|
| 6846|BADU E FILHOS TEC...|             2062|          49|       4000.00|    1|           null|
| 8416|  ELETRICA RUBI LTDA|             2062|          49|          0.00|    5|           null|
| 8992|SHIROMA VEICULOS ...|             2062|          49|          0.00|    5|           null|
| 9091|CONTATOS BAR E LA...|             2062|          49|          0.00|    5|           null|
| 9614|ANTONIA APARECIDA...|             2135|          50|          0.00|    5|           null|
| 9896|DORACY CORAT DA C...|             2135|          50|          0.00|    5|           null|
|12112|LANCHONETE RIO VE...|             2062|          49|          0.00|    5|           null|
|12605|VALMAR JACAREI CO...|             2062|          49|          0.00|    5|           null|
|13407|ROSANA CRISTINA D...|             2135|          50|          0.00|    5|           null|
|13408|CELIO RODRIGUES D...|             2135|          50|          0.00|    5|           null|
|13721|MAQFRAN COMERCIO ...|             2062|          49|          0.00|    1|           null|
|21181|MOURA & SILVA MER...|             2062|          49|          0.00|    5|           null|
|21858|PAMARATI COMERCIO...|             2135|          50|          0.00|    1|           null|
|22277|INACIO RODRIGUES ...|             2135|          50|          0.00|    5|           null|
|24205|SUELY LEME MARI A...|             2135|          50|       1000.00|    1|           null|
|26805|SUELI BATISTA DA ...|             2135|          50|          0.00|    5|           null|
+-----+--------------------+-----------------+------------+--------------+-----+---------------+
only showing top 20 rows

In [ ]:
#@title Convertando o tipo de dados das colunas utilizando cast():
empresa = empresa.withColumn("capital_social", empresa.capital_social.cast("float"))

In [ ]:
empresa.show()

In [ ]:
#@title Análise Exploratória, verificando quantas empresas possuem capitais = 0:
empresa\
  .where("capital_social = 0")\
  .count()
  #.show()

1691023

In [ ]:
#@title Análise Exploratória, verificando quantas empresas possuem capitais != 0:
empresa\
  .where("capital_social != 0")\
  .count()

In [ ]:
empresa2 = empresa\
  .where("capital_social != 0")

empresa2.show()

In [ ]:
empresa2\
  .where("capital_social >= 1000000")\
  .orderBy("capital_social", ascending=False)\
  .limit(15).toPandas()

### ***SQL NO DATAFRAME***

In [ ]:
#@title Criando uma view para utilização no spark.sql
empresa.createOrReplaceTempView("v_empresa")

In [ ]:
spark.sql("""
SELECT PORTE, EMPRESA
FROM V_EMPRESA
WHERE
  EMPRESA LIKE '%RESTAURANTE%'
          """).show(20, Fals)

#***PYTHON***

##OO

Entendendo a Orientação a Objetos:



```
Class, def __init__(self)
```

In [ ]:
#@title Entendendo a oritentação a objetos:
#definindo a classe
class Pessoa:
  #iniciando o metodo construtor do objeto
    def __init__(self, nome, idade, altura):
        self.nome = nome
        self.idade = idade
        self.altura = altura

    def andar(self):
      print(f"{self.nome} está andando...")

    def falar(self, frase):
      print(f'{self.nome} diz: - {frase}')

    def dormir(self):
      print(f'{self.nome} está dormindo, zzzZZz')

    def frio(self):
      print(f'{self.nome} está com frio!')

    def niver(self):
      print(f'{self.nome} está fazendo aniversário ela tem {self.idade} e fará {self.idade + 1}')


p1 = Pessoa("Janice", 28, 1.74)
p1.frio()
p1.niver()
p1.falar("FOME!")

Herança na orientação a objetos

```
class Alunos(Pessoa):
    def __init__(self, nome, idade, altura, celular, email):
      super().__init__(nome, idade, altura)
      self.celular = celular
      self.email = email

```
A classe a aluno está herdando os atributos da classe Pessoa.

Utilizamos o método ```super()``` para trazer os atributos herdados da classe Pessoa.

In [ ]:
#@title Herança
#from OOSenai.Pessoa import Pessoa

class Professor(Pessoa): # <-- herdando da classe pessoas
    def __init__(self, nome, idade, altura, area):
        super().__init__(nome, idade, altura) #<-- o atributos da classe pessoas
        self.area = area

    def apresentarProfessor(self):
        print(f'Nome: {self.nome}\n'
              f'Idade: {self.idade}\n'
              f'Area: {self.area}')

---

### ***Estrutura de repetição***

```
FOR I IN ...():  |  WHILE:
```

In [ ]:
#@title 1) Crie uma lista manualmente com 5 elementos. Mostre todos os valores da lista usando o comando FOR:

total = 0
lista = [
    [1,"Motorola", 3000, 4],
    [2,"Iphone", 7000, 2],
    [3,"Samsung", 5000, 3],
]
for i in lista:
  print(f'Produto: {i[1]} | Preço: {i[2]} | Qtd: {i[3]} | Total: {i[2] * i[3]}')
  total += i[2]* i[3]
print(f'TOTAL: R${total:.2F}')

Produto: Motorola | Preço: 3000 | Qtd: 4 | Total: 12000
Produto: Iphone | Preço: 7000 | Qtd: 2 | Total: 14000
Produto: Samsung | Preço: 5000 | Qtd: 3 | Total: 15000
TOTAL: R$41000.00

In [ ]:
#@title 2) Crie um programa que receba 2 valores p/ cáculo de uma exponenciação. O primeiro valor será a base e o segundo valor a quantidade de repetições. Para cada repetição a seguinte fórmula será executada: x = x + base^2. Mostre, cada repetição, o valor de x. A repetição deve ser feita usando o comando while.
base = int(input('Digite um valor: '))
qtd = int(input('Digite quantas vezes será repetido: '))
x = 0
cont = 0
print(f'x + {base}² = {x}')
while cont < qtd:
  x += b**2
  print(f'x + {base}² = {x}')
  cont += 1

Digite um valor: 3
Digite quantas vezes será repetido: 4
0 + 3² = 0
9 + 3² = 9
18 + 3² = 18
27 + 3² = 27
36 + 3² = 36

\

##Laço for

In [ ]:
#@title Utilizando FOR:
alunos = ['Isabel', 'Helena', 'Lucas', 'Gabriel']
print('Alunos Cadastrados')
#usando for
for aluno in alunos:
  print(f'Aluno: {aluno}')

In [ ]:
#@title FOR: mostrando itens dentro da lista
#Lista dentro de lista
alunos = [
    ["Isabel", 25, "isa@gmail.com"],
    ["Helena", 32, "helena@gmail.com"],
    ["Lucas", 25, "lucas@gmail.com"],
    ["Gabriel", 25, "gab@gmail.com"]
]
for i in alunos: #passamos os indices da lista dentro da variavel do FOR = i
  print(f"Aluno: {i[0]:10}| Idade: {i[1]}| Email: {i[2]:15}")

In [ ]:
#@title FOR: Dicionário

##Laço While

In [ ]:
#@title WHILE:
cont = 0
while(cont < 7):
  print(f"Repetição {cont+1}")
  cont += 1
print('Fim da Repetição')

In [ ]:
#@title Conversão de temperatura com WHILE:
repetir = True
print('Bem-vindo ao programa de conversão de temperatura!')
while repetir == True:
  k = float(input('Digite a temperatura em kelvin: '))
  c = k - 273.15
  print(f'Kelvin = {k:.2f} | Celsius = {c:.2f}\n')
  cont = input('Deseja continuar? [S/N] ')
  if (cont.lower() != "s"):
    repetir = False
print('Programa finalizado!')

---

##Criando Funções

### ***Criando Funções:*** Para utilizar a função em outro arquivo é necessário importa-la



```
def nome_da_função(parametros)
```

In [ ]:
#@title FUNÇÕES:

def multiploDe5(num):
  if(num != 0):
    if(num % 5 == 0):
      return True
    else:
      return False
  else:
    return False

#UTILIZANDO A FUNÇÃO CRIADA

num = int(input("Digite um valor: "))
if multiploDe5(num):
  print(f'{num} é múltiplo de 5')
else:
  print(f'{num} não é múltiplo de 5')

In [ ]:
#@title FUNÇÕES PASSANDO DOIS PARÂMETROS:
def multiploDeX(num,x):
  if(num != 0):
    if(num % x == 0):
      return True
    else:
      return False
  else:
    return False

num = int(input("Digite um valor: "))
x = int(input("Digite um número p/ saber se é múltiplo: "))
if multiploDe5(num):
  print(f'{num} é múltiplo de {x}')
else:
  print(f'{num} não é múltiplo de {x}')

In [ ]:
#@title 1) Cria uma função que receba dois parâmetros: mensagem e quantidade. O nome da função será imprimaMuitos(  ). A função imprimirá a mensagem passada por parâmetro quantas vezes foi informado no parâmetro quantidade.

#COM LAÇO WHILE
def imprimaMuitos(msg, qtd):
  cont = qtd
  while cont > 0:
    print(msg)
    cont -= 1
imprimaMuitos("OLI", 12)

#COM O LAÇO FOR
def imprimaMuitosFor(ms, qt):
  for i in range(qt):
    print(ms)
imprimaMuitosFor("OI", 10)

In [ ]:
#@title 2) Crie uma função que passado o valor de pelo menos 1 parâmetro retorne um valor booleano. Use essa função em uma estrutura de decisão.

def ehPar(num):
  if num % 2 == 0:
    return True

num = int(input('Digite um número: '))
if ehPar(num):
  print(f'O nº {num} é par!')
else:
  print(f'O nº {num} não é par!')

##Funções ARGS

### **Função `ARGS`**

In [ ]:
def imprimaMuitos(*valores):
  for i in valores:
    print(i)

def ehParImpar(*inteiros):
  contp = 0
  conti = 0
  for i in inteiros:
    if (i % 2 == 0):
      contp += 1
    else:
      conti += 1
  print(f"Qtd de numeros pares: {contp}")
  print(f'Qtd de numeros impares: {conti}')

imprimaMuitos(24,2131,234,245)

ehParImpar(8,2,1,5,64,32,356,545,67)

24
2131
234
245
Qtd de numeros pares: 5
Qtd de numeros impares: 4

In [ ]:
#@title Exercícios com *ARGS (VÁRIOS ARGUMENTOS DENTRO DO PARÂMETRO)
def calcularMediaFor(*notas):
  soma = 0
  for n in notas:
    soma += n
  media = soma / len(notas)
  print(f"Media: {media:.2f}")
calcularMediaFor(9,2,8,7)


def calcularMedia(*notas):
  media = sum(notas) / len(notas)
  print(f"Média: {media:.2f}")
calcularMedia(2,3,4,5,6)

6.5
4.0

---

##HERANÇAS

In [ ]:
#@title Orientação a Objetos: Heranças

class Clinica:
    def __init__(self, medico, especializacao):
        self.medico = medico
        self.especializacao = especializacao

    def idade(self, idade):
        print(f'{self.medico} tem {idade} anos.')

    def especializa(self):
        print(f'{self.medico} é especializado em {self.especializacao}')

#from OO.Pai import Clinica

class Paciente(Clinica):
    def __init__(self, medico, especilizacao, nome):
        super().__init__(medico,especilizacao)
        self.nome = nome

    def consulta(self):
        print(f'{self.nome} tem consulta com {self.medico}|{self.especializacao}')


#from OO.Pai import Clinica

class Farmacia(Clinica):
    def __init__(self, medico, especializacao, nome, remedio):
        super().__init__(medico, especializacao)
        self.nome = nome
        self.remedio = remedio

    def pegaRemedio(self, quantidade):
        print(f"Paciente: {self.nome} | Dr(a).{self.medico} - {self.especializacao}\n"
              f"Remedio prescrito: {self.remedio} | {quantidade} caixas")

---

### ***Listas/Dicionário***

---

1) Crie uma lista manual em Python contendo três valores string que você desejar. Mostre na tela quantos elementos a lista tem. Adicione mais dois elementos através da função **input()** usando o método **append()**.
Mostre novamente quantos elementos tem na lista.

In [ ]:
#@title Resposta 1:
lista = ['Livro', 25, 'Lápis']
print(f'LISTA: {lista}, possui {len(lista)} elementos.\n')
cont = 0
while cont < 2:
    add_elementos = input('Adicione um elemento a lista: ')
    lista.append(add_elementos)
    cont += 1
print(f'lista: {lista}, possui agora {len(lista)} elementos.')

LISTA: ['Livro', 25, 'Lápis'], possui 3 elementos.

Adicione um elemento a lista: luz
Adicione um elemento a lista: iluminação
lista: ['Livro', 25, 'Lápis', 'luz', 'iluminação'], possui agora 5 elementos.

---

2) Crie um dicionário de dados em Python com os seguintes valores:

"Nome do produto", quantidade e valor unitário.
O nome do produto será a chave e a quantidade e valor serão uma lista.
Inserir dois produtos no dicionário através de dados vindos da função **input()**. *Fazer ***SEM*** estrutura de repetição*

In [ ]:
#@title Resposta 2:
dic = {}
produto1 = input('Digite o nome do 1º produto: ')
quant1 = int(input(f'Digite o quantidade do produto, {produto1}: '))
valor1 = float(input(f'Digite o valor do produto, {produto1}: R$'))

produto2 = input('\nDigite o nome do 2º produto: ')
quant2 = int(input(f'Digite o quantidade do produto, {produto2}: '))
valor2 = float(input(f'Digite o valor do produto, {produto2}: R$'))

#UTILIZANDO UPDATE
dic.update({produto1:[quant1, valor1]})
dic.update({produto2:[quant2, valor2]})

#UTILIZANDO VARIAVEL
'''dic[produto1] = [quant1, valor1]
dic[produto2] = [quant2 , valor2]'''

print('-'*100)
print('Visualizando produtos cadastrados:')

print(f'\nProduto \"{produto1}\" cadastrado. Quantidade {dic[produto1][0]}, Preço: R${dic[produto1][1]}')
print(f'Produto \"{produto2}\" cadastrado. Quantidade {dic[produto2][0]}, Preço: R${dic[produto2][1]}')

---

2.1) Com estrutura de repetição:

In [ ]:
#@title Resposta 2.1:
dic1 = {}

for i in range(1, 3):
  name_prod = input(f'Insira o nome do {i}º produto: ')
  quant_prod = input(f'Informe a quant do produto {name_prod}: ')
  price_prod = float(input(f'Preço a do produto {name_prod}: R$'))

  dic1.update({name_prod:[quant_prod, price_prod]})

  #dic1[name_prod] = [quant_prod, price_prod]

print('\nExibindo produtos cadastrados com sucesso...\n')

for name_prod, dados in dic1.items():
  quant_prod = dados[0]
  price_prod = dados[1]
  print(f'{name_prod}  → {quant_prod:}|R${price_prod}')

#01/07/2023 - ÚLTIMA AULA PYSPARK

In [ ]:
#@title Importando arquivo Estabelecimento:

estab = spark.read.options(header=True).csv(
    "/content/drive/MyDrive/Python/estabelecimentos/part*",
    sep=";",
    inferSchema = True
)

In [ ]:
estab.show()

In [ ]:
#@title Convertando coluna data_de_inicio_atividade para data:
estab = estab.withColumn("data_de_inicio_atividade", f.to_date("data_de_inicio_atividade", "yyyyMMdd"))

In [ ]:
estab.show(10,False)

In [ ]:
empresa.show()

### Criando Views para realizar o JOINS com Estabelecimentos e Empresas.

In [ ]:
#@title Criando uma view com o DF de **estabelecimentos e empresa** para uso com comando SQL:
estab.createOrReplaceTempView("v_estab")
empresa.createOrReplaceTempView("v_empresas")

In [ ]:
estab.count()

4836219

In [ ]:
spark.sql(
"""
SELECT *
FROM V_EMPRESAS AS E
INNER JOIN V_ESTAB AS ESTAB ON ESTAB.CNPJ_BASICO = E.CNPJ
ORDER BY E.CNPJ
"""
).show(100, False)

In [ ]:
#@title Criando um DATAFRAME com as informações do JOIN das duas views:
emp_estab = spark.sql(
    """
    SELECT * FROM
    V_EMPRESAS AS E
    INNER JOIN
    V_ESTAB AS ESTAB
    ON ESTAB.CNPJ_BASICO = E.CNPJ
    """
)

In [ ]:
type(emp_estab)

pyspark.sql.dataframe.DataFrame

###TRANSFORMANDO EMP_ESTAB EM ARQUIVO TIPO ORC 👹

In [ ]:
emp_estab.coalesce(1).write.orc(
  "/content/drive/MyDrive/Python/Saidas_Orc",
  mode = "overwrite"
)

In [ ]:
emp_estab = spark.read.orc(
    "/content/drive/MyDrive/Python/Saidas_Orc/part*"
)

In [ ]:
emp_estab.show(10, False)

+----+---------------------------------------------------+-----------------+------------+--------------+-----+---------------+-----------+----------+-------+---------------------------+------------------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+-----------------------+------------------+-----------------------+------+---------------------------------+-----------------+--------+---+---------+-----+----------+-----+----------+----------+-------+-------------------------+-----------------+-------------------------+
|cnpj|empresa                                            |natureza_juridica|qualificacao|capital_social|porte|ente_federativo|cnpj_basico|cnpj_ordem|cnpj_dv|identificador_matriz_filial|nome_fantasia           |situacao_cadastral|data_situacao_cadastral|motivo_situacao_cadastral|nome_da_cidade_no_exterior|pais|data_de_inicio_atividade|cnae_fiscal_principal|cnae_fiscal_secundaria |tipo_de_logradouro|logradouro             |numero|complemento                      |bairro           |cep     |uf |municipio|ddd_1|telefone_1|ddd_2|telefone_2|ddd_do_fax|fax    |correio_eletronico       |situacao_especial|data_da_situacao_especial|
+----+---------------------------------------------------+-----------------+------------+--------------+-----+---------------+-----------+----------+-------+---------------------------+------------------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+-----------------------+------------------+-----------------------+------+---------------------------------+-----------------+--------+---+---------+-----+----------+-----+----------+----------+-------+-------------------------+-----------------+-------------------------+
|243 |IN FOCO PRODUCOES FOTOGRAFICAS S/S LTDA            |2240             |49          |500.0         |1    |null           |243        |1         |20     |1                          |null                    |2                 |20050827               |0                        |null                      |null|1994-07-29              |7420001              |null                   |RUA               |PROF RIVADAVIA CAMPOS  |366   |null                             |FREGUESIA DO O   |2961170 |SP |7107     |null |null      |null |null      |null      |null   |null                     |null             |null                     |
|362 |SOFT TRAINNING TREINAMENTO EM INFORMATICA S/C LTDA |2240             |49          |0.0           |5    |null           |362        |1         |82     |1                          |null                    |8                 |20081231               |71                       |null                      |null|1994-08-30              |8593700              |null                   |RUA               |MELO PALHETA           |321   |APTO 83                          |AGUA BRANCA      |5002030 |SP |7107     |null |null      |null |null      |null      |null   |null                     |null             |null                     |
|451 |CONSELHO PASTORAL BATISTA FUNDAMENTALISTA DO BRASIL|3999             |16          |0.0           |5    |null           |451        |1         |29     |1                          |CASA DO PASTOR          |8                 |20081231               |71                       |null                      |null|1994-10-04              |9491000              |null                   |RUA               |GERALDO PIRE S GONCALVE|127   |null                             |JARDIM SAO LUIZ  |5843230 |SP |7107     |null |null      |null |null      |null      |null   |null                     |null             |null                     |
|458 |AMERICO REGATIERI NETO REPRESENTACOES              |2135             |50          |5000.0        |1    |null           |458        |1         |40     |1                          |null                    |2                 |20051103               |0                        |null                      |null|1994-10-10              |4614100              |null                   |RUA               |JURUBATUBA             |1.274 |2 ANDAR                          |CENTRO           |9725000 |SP |7075     |null |null      |null |null      |null      |null   |null                     |null             |null                     |
|481 |WM & C INFORMATICA LTDA                            |2240             |49          |0.0           |5    |null           |481        |1         |35     |1                          |WM & C                  |8                 |20081231               |71                       |null                      |null|1994-10-18              |6311900              |null                   |ESTRADA           |ITAPECIRICA            |2736  |BLOCO 02 APTO 63                 |JARDIM GERMANIA  |5835000 |SP |7107     |null |null      |null |null      |null      |null   |null                     |null             |null                     |
|513 |CARTORIO 1 OFICIO E REGISTRO GERAL DE IMOVEIS      |3034             |42          |0.0           |5    |null           |513        |1         |0      |1                          |TABELIONATO FERNANDES   |2                 |19980728               |0                        |null                      |null|1981-12-17              |8423000              |null                   |ALAMEDA           |DAS FLORES             |626   |QUADRA23                  LOTE  0|CENTRO           |75630000|GO |9447     |64   |36041129  |64   |36041283  |null      |null   |CARTORIOMAIRI@HOTMAIL.COM|null             |null                     |
|633 |INSTITUTO QUALIDADE NO ENSINO                      |3999             |16          |0.0           |5    |null           |633        |1         |8      |1                          |null                    |2                 |19980623               |0                        |null                      |null|1994-11-29              |9430800              |9493600,9499500,8550302|RUA               |GUARARAPES             |1909  |ANDAR: 2;                        |BROOKLIN PAULISTA|4561004 |SP |7107     |11   |35117681  |11   |35117680  |38        |144691 |IQE@IQE.ORG.BR           |null             |null                     |
|633 |INSTITUTO QUALIDADE NO ENSINO                      |3999             |16          |0.0           |5    |null           |633        |2         |80     |2                          |null                    |2                 |20000128               |0                        |null                      |null|2000-01-28              |9430800              |9493600,9499500,8550302|AVENIDA           |LINS PETIT             |100   |ANDAR 12                         |BOA VISTA        |50070230|PE |2531     |11   |21495400  |null |null      |81        |4248841|null                     |null             |null                     |
|642 |CONDOMINIO NOVA AMERICA                            |3085             |5           |0.0           |5    |null           |642        |1         |90     |1                          |CONDOMINIO EM CONSTRUCAO|3                 |20210322               |21                       |null                      |null|1994-12-02              |8112500              |null                   |RUA               |DJALMA BENTO           |210   |null                             |SANTO AMARO      |4678020 |SP |7107     |null |null      |null |null      |null      |null   |null                     |null             |null                     |
|796 |R.S.O. SERVICOS DE INFORMATICA S/C LTDA            |2240             |49          |0.0           |1    |null           |796        |1         |82     |1                          |null                    |3                 |20120809               |21                       |null                      |null|1994-05-05              |6311900              |null                   |ESTRADA           |DA REPRESA             |9000  |S.25                             |DAS RITAS        |6950000 |SP |6625     |null |null      |null |null      |null      |null   |null                     |null             |null                     |
+----+---------------------------------------------------+-----------------+------------+--------------+-----+---------------+-----------+----------+-------+---------------------------+------------------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+-----------------------+------------------+-----------------------+------+---------------------------------+-----------------+--------+---+---------+-----+----------+-----+----------+----------+-------+-------------------------+-----------------+-------------------------+
only showing top 10 rows

In [ ]:
emp_estab.createOrReplaceTempView("v_emp_estab")

In [ ]:
spark.sql(
"""
SELECT * FROM
V_EMP_ESTAB
WHERE
CAPITAL_SOCIAL >= 1000000 AND CAPITAL_SOCIAL <= 5000000
ORDER BY
CNPJ
"""
).show(10, False)

+----+---------------------------------------------+-----------------+------------+--------------+-----+---------------+-----------+----------+-------+---------------------------+-----------------------------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+-------------------------------------------------------------------------------+------------------+------------------+------+---------------+-----------------+--------+---+---------+-----+----------+-----+----------+----------+--------+------------------------------------+-----------------+-------------------------+
|cnpj|empresa                                      |natureza_juridica|qualificacao|capital_social|porte|ente_federativo|cnpj_basico|cnpj_ordem|cnpj_dv|identificador_matriz_filial|nome_fantasia                      |situacao_cadastral|data_situacao_cadastral|motivo_situacao_cadastral|nome_da_cidade_no_exterior|pais|data_de_inicio_atividade|cnae_fiscal_principal|cnae_fiscal_secundaria                                                         |tipo_de_logradouro|logradouro        |numero|complemento    |bairro           |cep     |uf |municipio|ddd_1|telefone_1|ddd_2|telefone_2|ddd_do_fax|fax     |correio_eletronico                  |situacao_especial|data_da_situacao_especial|
+----+---------------------------------------------+-----------------+------------+--------------+-----+---------------+-----------+----------+-------+---------------------------+-----------------------------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+-------------------------------------------------------------------------------+------------------+------------------+------+---------------+-----------------+--------+---+---------+-----+----------+-----+----------+----------+--------+------------------------------------+-----------------+-------------------------+
|5073|VIACAO JARAGUA LTDA                          |2062             |5           |4400000.0     |3    |null           |5073       |2         |57     |2                          |null                               |8                 |19960206               |1                        |null                      |null|1994-11-21              |4921301              |null                                                                           |RUA               |SAMARITA          |208   |246            |CASA VERDE       |2518080 |SP |7107     |null |null      |null |null      |null      |null    |null                                |null             |null                     |
|5073|VIACAO JARAGUA LTDA                          |2062             |5           |4400000.0     |3    |null           |5073       |1         |76     |1                          |VIACAO PIONEIRA                    |4                 |20160404               |64                       |null                      |null|1994-05-17              |4921301              |4922102,4922103,4930202,4921302                                                |ESTRADA           |KIZAEMON TAKEUTI  |1682  |SALA: 1;       |JARDIM GUACIARA  |6775002 |SP |7157     |11   |58923086  |null |null      |11        |43551550|ALDI.ALP@TERRA.COM                  |null             |null                     |
|5073|VIACAO JARAGUA LTDA                          |2062             |5           |4400000.0     |3    |null           |5073       |4         |19     |2                          |null                               |4                 |20160404               |64                       |null                      |null|1997-11-19              |4921301              |null                                                                           |RUA               |ANDRESA           |101   |null           |JARAGUA          |2995140 |SP |7107     |011  |8411187   |null |null      |null      |null    |null                                |null             |null                     |
|5073|VIACAO JARAGUA LTDA                          |2062             |5           |4400000.0     |3    |null           |5073       |3         |38     |2                          |null                               |4                 |20160404               |64                       |null                      |null|1996-01-11              |5222200              |null                                                                           |RUA               |RIO GRANDE DO SUL |185   |SALA 06        |KHARFAN          |75503970|GO |9425     |null |null      |null |null      |null      |null    |null                                |null             |null                     |
|5073|VIACAO JARAGUA LTDA                          |2062             |5           |4400000.0     |3    |null           |5073       |5         |8      |2                          |VIACAO PIONEIRA                    |8                 |20000919               |1                        |null                      |null|1999-11-25              |5229099              |null                                                                           |RUA               |BENJAMIN CONSTANT |55    |null           |CENTRO           |2550090 |SP |7107     |011  |3122134   |null |null      |null      |null    |null                                |null             |null                     |
|5822|SECTRON INDUSTRIA E COMERCIO LTDA            |2062             |49          |4177922.2     |5    |null           |5822       |1         |65     |1                          |SECTRON                            |2                 |20021116               |0                        |null                      |null|1994-05-18              |2610800              |2733300,2790299,2822401,2822402,2945000,4329103,6810201                        |PRACA             |CARIRI            |252   |null           |CHACARAS REUNIDAS|12238300|SP |7099     |null |null      |null |null      |null      |null    |null                                |null             |null                     |
|5822|SECTRON INDUSTRIA E COMERCIO LTDA            |2062             |49          |4177922.2     |5    |null           |5822       |2         |46     |2                          |null                               |2                 |20040430               |0                        |null                      |null|2004-04-30              |2733300              |null                                                                           |RUA               |SANTA MARIA       |526   |null           |RAMADA           |92500000|RS |8685     |null |null      |null |null      |null      |null    |null                                |null             |null                     |
|6010|ONE DISTRIBUIDORA DE MEDICAMENTOS EIRELI     |2305             |64          |1000000.0     |5    |null           |6010       |2         |15     |2                          |null                               |8                 |20170505               |1                        |null                      |null|2016-09-01              |4644301              |4646001,4645101,4646002                                                        |RODOVIA           |ANTONIO HEIL      |1001  |KM 1 GALPAO G11|ITAIPAVA         |88316001|SC |8161     |11   |47389990  |null |null      |null      |null    |MARCOS.AVELAR@ONEMEDICAMENTOS.COM.BR|null             |null                     |
|6010|ONE DISTRIBUIDORA DE MEDICAMENTOS EIRELI     |2305             |64          |1000000.0     |5    |null           |6010       |1         |34     |1                          |ONE                                |2                 |20040326               |0                        |null                      |null|1994-05-18              |4644301              |4645101,4646001,4646002,4930202,4930201,5211799,5250804,7020400,8599699,4618499|RUA               |MANUEL DE CARVALHO|159   |null           |PIQUERI          |2912020 |SP |7107     |11   |43082012  |null |null      |11        |44796622|SAC@ONEMEDICAMENTOS.COM.BR          |null             |null                     |
|6613|J. L. M. - FOMENTO MERCANTIL E COMERCIAL LTDA|2062             |49          |1000000.0     |3    |null           |6613       |3         |6      |2                          |SSG - FOMENTO MERCANTIL E COMERCIAL|8                 |20110613               |1                        |null                      |null|2002-11-22              |6491300              |null                                                                           |RUA               |PIZZA E ALMEIDA   |452   |SALA  14       |CENTRO           |13250170|SP |6569     |19   |38951837  |19   |38957455  |19        |38951837|arilza.aparecida@terra.com.br       |null             |null                     |
+----+---------------------------------------------+-----------------+------------+--------------+-----+---------------+-----------+----------+-------+---------------------------+-----------------------------------+------------------+-----------------------+-------------------------+--------------------------+----+------------------------+---------------------+-------------------------------------------------------------------------------+------------------+------------------+------+---------------+-----------------+--------+---+---------+-----+----------+-----+----------+----------+--------+------------------------------------+-----------------+-------------------------+
only showing top 10 rows

In [ ]:
#@title Usando funções de agregação traga em tela a info de quantidade de estabelecimentos por estados.

spark.sql(
    """
    SELECT UF, COUNT(*) AS QTD_ESTABELECIMENTOS
    FROM V_EMP_ESTAB
    GROUP BY UF
    ORDER BY QTD_ESTABELECIMENTOS DESC
    """
).limit(50).toPandas()

    UF  QTD_ESTABELECIMENTOS
0   SP               1385303
1   MG                530016
2   RJ                416661
3   RS                352513
4   PR                323483
5   BA                246650
6   SC                216457
7   GO                166082
8   PE                148247
9   CE                137705
10  ES                100012
11  PA                 98057
12  MT                 88219
13  DF                 80661
14  MA                 75532
15  MS                 64792
16  PB                 61436
17  RN                 56497
18  AM                 50588
19  AL                 46542
20  PI                 43304
21  RO                 34896
22  TO                 32873
23  SE                 32271
24  EX                 15033
25  AC                 11799
26  AP                 11358
27  RR                  9234

In [ ]:
!apt-get -qq install -y git
!git clone https://github.com/jamissi/bigdata_senai.git

Cloning into 'bigdata_senai'...
warning: You appear to have cloned an empty repository.