<a href="https://colab.research.google.com/github/jamissi/Estudos-DataScience/blob/main/PARTE_1_(cap_1_5).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PARTE 01 - INTRODUÇÃO À LINGUAGEM PYTHON

\
##**Cap 1:** Python p/ Iniciantes
\

In [1]:
nome = 'Janice'
idade = 28
print(f'{nome} têm {idade}.')

Janice têm 28.

In [2]:
print('\'s, \"x\",\\\\')

's, "x",\\

In [3]:
pi = 3.1415926
print(f'Pi = {pi:.2f}')

Pi = 3.14

In [4]:
print((5*7)-((6*4)+(20/2)))

1.0

In [5]:
eh_impar =(57%2 == 0)
print(eh_impar)

False

In [6]:
a = 1
b = -7
c = 12
delta = (b**2 - 4*a*c)
print(f'O delta de a = {a}, b = {b}, c = {c} é {delta}')

O delta de a = 1, b = -7, c = 12 é 1

In [7]:
def delta(a, b, c):
  resultado = (b**2 - 4*a*c)
  return resultado
print(f'O delta de a = {a}, b = {b}, c = {c} é {delta(1, -7, 12)}')

O delta de a = 1, b = -7, c = 12 é 1

In [8]:
palavra = "Galo"
numero = 1
booleano = True
print('Usando %%: palavra= \"%s\", numero= %d, booleano= %s'% (palavra, numero, booleano))
print(f'Usando f-string: palavra= \"{palavra}\", numero= {numero}, booleano= {booleano}')

Usando %: palavra= "Galo", numero= 1, booleano= True
Usando f-string: palavra= "Galo", numero= 1, booleano= True

\
## **Cap 2:** Coleções
\

### ***Lista***

In [9]:
lists_carros = ['GOL', 'UNO', 'HB20','KA']
print(f'Conteúdo da lista de carros: {lists_carros}')

Conteúdo da lista de carros: ['GOL', 'UNO', 'HB20', 'KA']

In [10]:
print(f'O 1º carro da lista: {lists_carros[0]}')
print(f'O 2º carro da lista: {lists_carros[2]}')
print(f'O 3º carro da lista: {lists_carros[3]}')

O 1º carro da lista: GOL
O 2º carro da lista: HB20
O 3º carro da lista: KA

In [11]:
print(lists_carros)

['GOL', 'UNO', 'HB20', 'KA']

In [12]:
superesportivos = ['FERRARI', 'PORSCHE', 'AUDI']
carros_populares = ['GOL', 'UNO', 'HB20','KA']
lista_carros = [carros_populares, superesportivos]

In [13]:
print(f'Conteúdo da lista de carros: {lista_carros}')
print('-'*150)
#Visualizando listagem
print(f'Carros populares: {lista_carros[0]}')
print(f'Carros esportivos: {lista_carros[1]}')
print('-'*150)
#Buscando carros dentro da lista bidimensional
print(f'Segundo carro popular: {lista_carros[0][1]}')
print(f'Primeiro carro esportivo: {lista_carros[1][0]}')

Conteúdo da lista de carros: [['GOL', 'UNO', 'HB20', 'KA'], ['FERRARI', 'PORSCHE', 'AUDI']]
------------------------------------------------------------------------------------------------------------------------------------------------------
Carros populares: ['GOL', 'UNO', 'HB20', 'KA']
Carros esportivos: ['FERRARI', 'PORSCHE', 'AUDI']
------------------------------------------------------------------------------------------------------------------------------------------------------
Segundo carro popular: UNO
Primeiro carro esportivo: FERRARI



---

### ***Lista Vazia & Adicionando e Removendo Elementos:***

1.   ***append*** (*nome do elemento que será add*)
2.  ***pop*** (*índice*)
3.   ***remove*** (*nome do elemento que será removido*)
4.   ***del.*** *nome da lista*

In [14]:
#Lista Vazia
lista_produtos = []
print(f'Criando uma lisa de produto vazia: {lista_produtos}')
#Adicionando elementos a lista vazia criada
print('Adicionando produtos a lista...')
lista_produtos.append('Caneta esferográfica AZUL')
lista_produtos.append('Caneta esferográfica PRETA')
lista_produtos.append('Resma de papel sulfite')
print(lista_produtos)

Criando uma lisa de produto vazia: []
Adicionando produtos a lista...
['Caneta esferográfica AZUL', 'Caneta esferográfica PRETA', 'Resma de papel sulfite']



---

In [15]:
#Alterando o elemento "RESMA DE PAPEL SULFITE" [2] da lista
lista_produtos[2] = 'Resma de papel A4'
print(lista_produtos)

['Caneta esferográfica AZUL', 'Caneta esferográfica PRETA', 'Resma de papel A4']

In [16]:
#Removendo o elemento "REMAS DE PAPEL A4" [2] da lista
lista_produtos.pop()
print(lista_produtos)

['Caneta esferográfica AZUL', 'Caneta esferográfica PRETA']



---

### ***Verificando relações de pertinência:***

1.   ***in***
2.   ***not in***

In [17]:
if ('borracha' in lista_produtos):
  print('Sim, há o item borracha.')
else:
  print('Não há o item borracha.')

Não há o item borracha.

In [18]:
um_produto = 'Lápis gradite nº 2'
if (um_produto not in lista_produtos):
  print(f'{um_produto}, não pertence a lista de produtos.')

Lápis gradite nº 2, não pertence a lista de produtos.

In [19]:
print(len(lista_produtos))

2



---

### ***Estendendo uma lista:***

1.   ***extend*** ()

In [20]:
#Extensão = uma ampliação de uma lista pela união
usuario = []
usuario_inf = ['Adriano', 'João', 'José']
usuario_cont = ['Maria', 'Levi', 'Gabriel']
print(f'Lista USUARIO {usuario}')

Lista USUARIO []

In [21]:
print(f'Usuarios da INFORMÁTICA: {usuario_inf}')

Usuarios da INFORMÁTICA: ['Adriano', 'João', 'José']

In [22]:
print(f'Usuarios da CONTABILIDIADE: {usuario_cont}')

Usuarios da CONTABILIDIADE: ['Maria', 'Levi', 'Gabriel']

In [23]:
#Unindo as listas USUARIO_INF + USUARIO_CONT
usuario.extend(usuario_inf)
print(usuario)

['Adriano', 'João', 'José']

In [24]:
usuario.extend(usuario_cont)
print(usuario)

['Adriano', 'João', 'José', 'Maria', 'Levi', 'Gabriel']

### ***Inserindo elementos no meio da lista***

1. ***insert*** (*índice, valor*)

In [25]:
ferramentas = ['Alicate', 'Chave Inglesa', 'Formão']
print(ferramentas)

['Alicate', 'Chave Inglesa', 'Formão']

In [26]:
#Adicionando elementos mantendo a ordem alfabética

In [27]:
ferramentas.insert(2, 'Chave Torx')
ferramentas.insert(1, 'Alicate de Corte')

In [28]:
print(ferramentas)

['Alicate', 'Alicate de Corte', 'Chave Inglesa', 'Chave Torx', 'Formão']

 ### ***Fatiando listas***

1. **identificador** [início: fim: salto]

In [29]:
num = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
print(num[0]) #fatiando p/ o 1º elemento

0

In [31]:
print(num[-1]) #fatiando p/ o último elemento

9

In [32]:
print(num[-2]) #fatiando p/ o penúltimo elemento

8

In [33]:
print(num[:4]) #trazendo os 4 primeiros elementos da lista

[0, 1, 2, 3]

In [34]:
print(num[-3:]) #trazendo os 3 últimos elementos da lista

[7, 8, 9]

In [35]:
print(num[1:-1]) #visualizando a lista sem o primeiro e o último elemento

[1, 2, 3, 4, 5, 6, 7, 8]

In [36]:
print(num[3::2])

[3, 5, 7, 9]

### ***Conjuntos: {} ou set()***

In [37]:
A = set()   # Criando um conjunto vazio
print(f'Criado um conjunto vazio: A = {A}')
A.add('X')  # Adicionando um elemento ao conjunto
print(f'Adicionado um elemento ao conjunto A: A = {A}')
A.add('Y')
print(f'Adicionado outro elemento ao conjunto A: A = {A}')
A.add('Z')
print(f'Adicionado mais um elemento ao conjunto A: A = {A}')
A.add(123)
print(f'Adicionado um quarto elemento ao conjunto A: A = {A}')

Criado um conjunto vazio: A = set()
Adicionado um elemento ao conjunto A: A = {'X'}
Adicionado outro elemento ao conjunto A: A = {'Y', 'X'}
Adicionado mais um elemento ao conjunto A: A = {'Z', 'Y', 'X'}
Adicionado um quarto elemento ao conjunto A: A = {'Z', 123, 'Y', 'X'}

In [38]:
#Verificando o tamanho do CONJUNTO
print(f'A contém agora {len(A)} elementos.')

A contém agora 4 elementos.

In [39]:
#TESTE DE PERTINENCIA
teste_pertinencia = 'X' in A
print(f'O elemento \'X\' está contido em A? {teste_pertinencia}')
teste_pertinencia = 'a' in A
print(f'O elemento \'a\' está contido em A? {teste_pertinencia}')

O elemento 'X' está contido em A? True
O elemento 'a' está contido em A? False



---

Eliminando elementos duplicados de uma LISTA usando CONJUNTOS

In [40]:
lista_duplicados = ['A', 'B', 'C', 'B', 'A', 'C']
#removendo os elementos
removendo_duplicados = set(lista_duplicados) #conjunto
print(removendo_duplicados)

{'B', 'C', 'A'}

In [41]:
#Convertando conjunto em lista novamente
lista_sem_duplicacao = list(removendo_duplicados)
print(lista_sem_duplicacao)

['B', 'C', 'A']

### ***Expressões LAMBDA***

    lambda p1,p2,...pn: expressão

#####**p1, p2,...pn** → são os parâmetros que serão passados para expressão
#####**expressão** → que será avaliada com os valores recebidos nos parâmetros e tera seu valor retornado.

In [42]:
delta = lambda a, b, c: b**2 - 4 * a * c
#1, 12 e -13 são os parâmetros que serão incluidos, respectivamente, na função lambda a, b, c
print({delta(1, 12, -13)})

{196}

### ***Dicionários: {} / dict() / a = {'x': 10}***

In [43]:
produto = {
    'codigo': '00035-B',
    'nome': 'Chave de Fenda nº 15',
    'preco': 29.759
}
print(f'Cadastrado o produto: {produto}')
print(f'Código do produto: {produto["codigo"]}')
print(f'Nome do produto: {produto["nome"]}')
print(f'Preço do produto: R${produto["preco"]:.2f}')

Cadastrado o produto: {'codigo': '00035-B', 'nome': 'Chave de Fenda nº 15', 'preco': 29.759}
Código do produto: 00035-B
Nome do produto: Chave de Fenda nº 15
Preço do produto: R$29.76



---

alterando o valor de um atributo

In [44]:
produto['preco'] = 32.00
print(f'Valor do produto: {produto["nome"]}, alterado.'
f' \nNovo valor:R${produto["preco"]}')

Valor do produto: Chave de Fenda nº 15, alterado.
Novo valor:R$32.0

método GET( )

In [45]:
produto_disponivel = produto.get('Disponível', False)
produto_tem_preco = 'preco' in produto
produto_tem_prateleira = 'prateleira' in produto
print(produto_tem_preco, produto_tem_prateleira)

True False

várias chaves/ valores de um dicionário

In [46]:
produto = {
    'codigo': '00012-X',
    'nome': 'Alicate',
    'preco': 50.27
  }
print(f'Chaves do produto:  {produto.keys()}')

Chaves do produto:  dict_keys(['codigo', 'nome', 'preco'])

In [47]:
print(f'Valores do produto: {produto.values()}')

Valores do produto: dict_values(['00012-X', 'Alicate', 50.27])

In [48]:
print(f'Tuplas (chaves, valor) do produto: {produto.items()}')

Tuplas (chaves, valor) do produto: dict_items([('codigo', '00012-X'), ('nome', 'Alicate'), ('preco', 50.27)])

removendo elementos

In [49]:
del produto['preco']
print(f'Tuplas (chaves, valor) do produto: {produto.items()}')

Tuplas (chaves, valor) do produto: dict_items([('codigo', '00012-X'), ('nome', 'Alicate')])

Defaultdict

In [50]:
from collections import defaultdict

genero = defaultdict(lambda:'Ficção')
genero['Avatar'] = 'Fantasia'
genero['Ted'] = 'Comédia'
print('Alguns gêneros cadastrados: ')
print(f'Avatar: {genero["Avatar"]}')
print(f'Ted: {genero["Ted"]}')
print(f'Star Wars: {genero["Star Wars"]}')

Alguns gêneros cadastrados:
Avatar: Fantasia
Ted: Comédia
Star Wars: Ficção

In [51]:
from collections import defaultdict

def default_value():
    return "Valor padrão"

dicionario = defaultdict(default_value)

dicionario["chave1"] = "valor1"
dicionario["chave2"] = "valor2"

print(dicionario["chave1"])  # Saída: valor1
print(dicionario["chave2"])  # Saída: valor2
print(dicionario["chave3"])  # Saída: Valor padrão (chave3 não existe, então o valor padrão é retornado)

valor1
valor2
Valor padrão

### ***Classe Counter ( )*** = distribuição de frequência


```
# classe_counter = Counter(lista)
```

In [52]:
from collections import Counter

list_num = [0, 1, 2, 3, 2, 3, 3]
list_str = ['A', 'B','B','C', 'B','A', 'B']
c1 = Counter(list_num)
c2 = Counter(list_str)
#Irá mostrar a quantidade de vezes em que aparece que os elementos aparecem na lista
print(f'Visualize a lista: {list_num}')
print(f'Distribuição dos números: {c1}')
print(f'\nVisualizando a lista str: {list_str}')
print(f'Distribuição das strings: {c2}')

Visualize a lista: [0, 1, 2, 3, 2, 3, 3]
Distribuição dos números: Counter({3: 3, 2: 2, 0: 1, 1: 1})

Visualizando a lista str: ['A', 'B', 'B', 'C', 'B', 'A', 'B']
Distribuição das strings: Counter({'B': 4, 'A': 2, 'C': 1})

---

\
## **Cap 03**: Estruturas Condicionais 🔷:
\

In [53]:
#@title IF - instrução condicional ou branch. Exemplo:

x = 5
if x > 0:
  print(f'{x} é um número positivo.')
print("Esta linha será impressa todas as vezes.")
#################################################
x = -1
if x > 0:
  print(f'{x} é um número positivo.')
print("Esta linha será impressa todas as vezes.")

5 é um número positivo.
Esta linha será impressa todas as vezes.
Esta linha será impressa todas as vezes.

In [54]:
#@title IF... ELIF... ELSE - variação da instrução if permite realizar vários testes na mesma intrução. Exemplo:

media = 8.5
if media >= 7.0:
  print('Parabéns! Você foi aprovado.')
elif (media < 7.0) and (media >= 3.0):
  print('Você fará prova final.')
else:
  print('Você foi reprovado.')

Parabéns! Você foi aprovado.

In [55]:
#@title Ifs Encadeados - é possível encadear vários ifs dentro de um. Exemplo:

valor_medido = 87.0
idade = 13
sexo = 'F'
igual_ou_abaixo_da_media = False

if sexo == 'M':
  if (idade > 7) and (idade < 9):
    if valor_medido >= 89.4:
      igual_ou_abaixo_da_media = True
    else:
      igual_ou_abaixo_da_media = False

  if (idade >= 9) and (idade < 11):
    if valor_medido <= 88.0:
      igual_ou_abaixo_da_media = True
    else:
      igual_ou_abaixo_da_media = False

  if (idade >= 11) and (idade < 13):
    if valor_medido <= 88.92:
      igual_ou_abaixo_da_media = True
    else:
      igual_ou_abaixo_da_media = False

  if (idade >= 13) and (idade < 15):
    if valor_medido <= 92.29:
      igual_ou_abaixo_da_media = True
    else:
      igual_ou_abaixo_da_media = False

  if (idade >= 15) and (idade < 18):
    if valor_medido <= 89.69:
      igual_ou_abaixo_da_media = True
    else:
      igual_ou_abaixo_da_media = False

# # # # # # # # # # # # # # # # # # # # # # #

if sexo == 'F':
  if (idade > 7) and (idade < 9):
    if valor_medido >= 83.72:
      igual_ou_abaixo_da_media = True
    else:
      igual_ou_abaixo_da_media = False

  if (idade >= 9) and (idade < 11):
    if valor_medido <= 88.22:
      igual_ou_abaixo_da_media = True
    else:
      igual_ou_abaixo_da_media = False

  if (idade >= 11) and (idade < 13):
    if valor_medido <= 88.58:
      igual_ou_abaixo_da_media = True
    else:
      igual_ou_abaixo_da_media = False

  if (idade >= 13) and (idade < 15):
    if valor_medido <= 88.85:
      igual_ou_abaixo_da_media = True
    else:
      igual_ou_abaixo_da_media = False

  if (idade >= 15) and (idade < 18):
    if valor_medido <= 89.77:
      igual_ou_abaixo_da_media = True
    else:
      igual_ou_abaixo_da_media = False

if igual_ou_abaixo_da_media:
  print('O valor da amostra fornecida é igual ou menor que a média do grupo em estudo.')
else:
  print('O valor da amostra fornecida é superior à média do grupo em estudo.')

O valor da amostra fornecida é igual ou menor que a média do grupo em estudo.

In [56]:
#@title Operador Ternário - é uma instruição if condensada em uma só linha. Exemplo:
idade = 20
print('Pode votar.' if idade >= 16 else 'Não pode votar.')

Pode votar.

\
## **Cap 04**: Estruturas de repetição 🔁:
\

###**While** ➰:

In [57]:
#@title While (enquanto) - enquanto a condição for verdadeira, o código será exucutado. Exemplo:
num = 20
contador = 0
resultado = 1
while(contador < num):
    contador += 1
    resultado =  resultado * contador
print(f'produtório = {resultado}')

produtório = 2432902008176640000

In [ ]:
#@title do...while com o *loop* while:
continua = 'S'
somatorio = 0.0
quantidade = 0
while(continua == 'S'):
  preco = float(input('Entre com o preço do próximo produto: '))
  somatorio += preco
  continua = input('Acrescentar mais produtos? (S/N) ')
print(f'O valor total dos produtos é R${somatorio :.2f}')

### **For** ➰:

In [ ]:
#@title **loop for** iterando sobre uma coleção (lista, tupla ou dicionário):
cidades = ['Alinça','Belo Jardim', 'Caruaru', 'Petrolina']
for cidade_atual in cidades:
  #print(f'A cidade atualmente examinada é %s'%cidade_atual)
  print(f'A cidade atualmente examinada é {cidade_atual}')

In [ ]:
#@title **loop for** iterando sobre um número utilizando a função ***range()***:
for x in range(3):
  print('Aprendendo python')
print('\n')
#Imprimindo nº de 0 a 9:
for x in range(10):
  print(x, end= ' ')
print('\n')

#Imprimindo n de 1 a 10:
for x in range(1,11):
  print(x, end=' ')
print('\n')

#Imprimindo nº pares de 0 a 10:
for x in range(0, 11, 2):
  print(x, end = ' ')
print('\n')

#Imprimindo nº impares de 1 a 10:
for x in range(1, 11, 2):
  print(x, end = ' ')
print('\n')

#Contagem regressiva de 1 a 10:
for x in range(10, -1, -1):
  print(x, end = ' ')

In [ ]:
#@title **loop for** obtendo informações de coleções relacionadas função ***enumerate()***:
#@title for índice, váriavel in enumarate(coleção)

alunos = ['Alice', 'Bob', 'Carl', 'Daniele']
notas = [9.5, 8.0, 9.5, 8,0]
for indice, aluno in enumerate(alunos):
  print(f'Nome: {aluno} - Nota: {notas[indice]}')

In [ ]:
#@title **loop for** iterando sobre uma string:

frase = 'Janice Macoratti'
for c in frase:
  print(c)

In [ ]:
#@title Loops Aninhados:

camisetas = ['Azul', 'Vermelha', 'Amarela']
shorts = ['Branco', 'Preto']
x = 0
y= 0
for x in range(3):
  for y in range(2):
    print(f'Você pode combinar camiseta {camisetas[x]} com um shorts {shorts[y]}')
print('\n')

#Simplificando

camisetas = ['Azul', 'Vermelha', 'Amarela']
shorts = ['Branco', 'Preto']
for cor_camiseta in camisetas:
  for cor_short in shorts:
    print(f'Você pode combinar camiseta {cor_camiseta} com um shorts {cor_short}')

###Intruções ***BREAK*** e ***CONTINUE***:

In [ ]:
#@title BREAK:

x=0
while(x < 10):
  x += 1
  if(x==5):
    break
  print(f'x = {x}')
print('O programa terminou')

In [ ]:
#@title BREAK 2:
continua = 'S'
somatorio = 0.0
quantidade = 0
while(True):
  preco = float(input('Preço do produto: '))
  somatorio += preco
  continua = input('Deseja continuar? (S/N)')
  if (continua != 'S'):
    break
print(f'Total dos produtos cadastrados R${somatorio :.2f}')

In [ ]:
#@title CONTINUE:
while(True):
  letra = input('Digite alguma letra diferente de X (Q para sair)')
  if (letra == 'X'):
    continue
  elif(letra == 'Q'):
    break
  else:
    print(f'Você digitou {letra}')
print('Programa encerrado')

### ***List Comprehensions*** 📋

In [ ]:
print('Entendendo LIST COMPREHENSIONS: ')
print('C1 = {X**3 | 0 <= X <= 3}')
c1 = [x**3 for x in range(4)]
print(c1, sep = '')
print('\n')

print('C2 = {X | 0 <= X <= 20 e X é par}')
c2 = [x * 2 for x in range(0,11)]
print(c2, sep = '')
print('\n')

print('C3 = {X | -20 <= X <= 40 e X é ímpar}')
c3 = [x * 2 + 1 for x in range(-10,20)]
print(c3, sep = '')
print('\n')

 ***É possível utiliza o símbolo _ como variável quando não for necessário usar o valor da variável.***

```
primos = [false for _ in numeros]
```

--> ***Loops aninhados, por exemplo para gerar pares de números com todas as combinações possíveis***

In [ ]:
numeros = [(p1, p2)
            for p1 in range(7)
            for p2 in range(7)]
print(f'Pares criados: {numeros}')

---

\

## **Cap 05**: Conversão de Tipos (*typecast*) e Funções Personalizadas 🇫:
\

###***Typecast***

    Typecast serve manipular (transforma-los) informações que não foram fornecidas com o tipo adequado.

In [ ]:
#@title #####int() - recebe um valor e converte-o para número inteiro, **se possível**.
a = '123'
a_inteiro = int(a)
print(f'Convertendo "a" para inteiro: {a_inteiro}')
print('\n')

e = 2.782334
parte_inteira_de_e = int(e)
print(f'A parte inteira de "e" vale: {parte_inteira_de_e}')
print('\n')

print(f'Convertendo True para int, obtem-se {int(True)}.'
f'\nConvertendo False para inte, obtem-se {int(False)}')

\

In [ ]:
#@title #####float() - Converte um parâmetro para um número de ponto flutuante.
x = 1000
y = float(x)
print(f'{x} * {y} = {x*y}')

\

In [ ]:
#@title #####complex() - Converte um valor e o converte em um número complexo.
num_int = 123
num_real =456.78
print(f'Número inteiro: {num_int} --> Número complexo: {complex(num_int)}')
print(f'Número real: {num_real} --> Número complexo: {complex(num_real)}')

    Não é permitido converter valores não númericos. Ao converter um número para complexo, o valor imaginário será sempre zero ☝.

\

In [ ]:
#@title #####str() -  Converte seu argumento em string.
codigo = 300
nome = 'Margarida'
mensagem = 'O aluno de código ' + str(codigo) + ' é ' + nome # se não convertessemos, daria erro ao concatenar a string.
print(mensagem)

\

In [ ]:
#@title #####set() - converte informações para conjuntos (objetos do tipo set)
dados_lista = ['A', 'B', 'C']
dados_tuplas = (1, 2, 3)
dados_string = 'PALAVRA'
conj1= set(dados_lista)
conj2= set(dados_tuplas)
conj3= set(dados_string)
print(f'''Convertendo...\n
Lista: {dados_lista} --> Conjunto: {conj1}
Tuplas: {dados_tuplas} --> Conjunto: {conj2}
Texto: {dados_string} --> Conjunto: {conj3}''')

    conjuntos não permitem repetições e nem mantém a ordem entre seus elementos, como mostra a conversão acima. ☝

\

In [ ]:
#@title #####bool() - converte qualquer valor para True ou False.
print(f'''Valor convertido para False:

zero inteiro: {bool(0)}
zero com ponto flutuante: {bool(0.0)}
lista vazia: {bool([])}
conjunto vazio: {bool({})}
string vazia: {bool('')}
None: {bool(None)}
      ''')

print('-'*100)
print(f'''Valor convertido para True:

números inteiros: 1 -> {bool(1)}| -1 -> {bool(-1)}| 300 -> {bool(300)}
qualquer número com ponto flutuante: {bool(12.585)}
lista: [0,2,4] -> {bool([0,2,4])}
tupla: (1,2,3) -> {bool((1,2,3))}
dicionario: {bool({'x':0})}
conjunto: {bool({1,2,3})}
string: Teste -> {bool('Teste')}''')

\

\
###Funções Personalizadas ***def()***
\

In [ ]:
def delta(a,b,c):
  resultado = b**2 - 4 * a * c
  return resultado #retorna o resultado para o código que a chamou.

delta(3,10,4)


    é possível definir um valor padrão (default) na função 👇

In [ ]:
def icms(bruto, taxa=18):
  imposto = bruto * (taxa/100)
  print(f'A taxa a ser paga sobre o valor R${bruto} = R${imposto}')

icms(1000)

\



\
# ***Exercícios***  🐍

\
##CAPÍTULO  02

#### ***EXERCÍCIOS RESOLVIDOS DO LIVRO***

---

1) Crie uma váriavel chamada valores e armazene números de 1 a 10. Imprima o 7º elementa da lista e, na linha seguinte, o conteúdo completo da lista.

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(f'Sétimo termo da LISTA: \"{lista[6]}\"')
print(f'LISTA completa: {lista}')

Sétimo termo da LISTA: "7"
LISTA completa: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

---
2) Altere o programa acima, acrescentando os números extensos em outra lista. Imprima seus conteúdos na saída padrão. Imprima o valor numérico e por extenso do primeiro e do último elemento da lista.

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lista2 = ['Um', 'Dois', 'Três', 'Quatro', 'Cinco', 'Seis', 'Sete', 'Oito', 'Nove', 'Dez']
union_list = [lista, lista2]
print(f'Conteudo da união das listas: {union_list}')
print(f'\nO primeiro elemento: {union_list[0][0]} - {union_list[1][0]}')
print(f'O último elemento da lista: {union_list[0][9]} - {union_list[1][9]}')

Conteudo da união das listas: [[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], ['Um', 'Dois', 'Três', 'Quatro', 'Cinco', 'Seis', 'Sete', 'Oito', 'Nove', 'Dez']]

O primeiro elemento: 1 - Um
O último elemento da lista: 10 - Dez

---
3) 5 Atividades:

*   Cria uma lista vazia, denominada itens, e acrescente três strings: "Livros", "Caderno", "Borracha"
*   Altere o item de índice 1 para "Régua"
*   Verifique se o item "Caderno" está na lista
*   Imprima a quantidade de elementos da lista, remova o último elemento da lista e imprima-o; em seguida imprima novo tamanho da lista
*   Crie uma variável chamada fatia, que contenha os dois últimos elementos da lista e imprima-a na saída padrão

In [ ]:
itens = []
itens.append("Livros")
itens.append("Caderno")
itens.append("Borracha")
#alterando o item caderno para regua
itens[1] = "Régua"
if "Caderno" in itens:
  print('A lista contém caderno')
print(f'Quantos elementos a na lista: {len(itens)}')
ultimo_item = itens.pop() #removendo o último item da lista
print(f'Após o remoção do último itens: {len(itens)}')
fatia = itens[-2:]
print(f'Os dois últimos elementos da lista são: {fatia}')

Quantos elementos a na lista: 3
Após o remoção do último itens: 2
Os dois últimos elementos da lista são: ['Livros', 'Régua']

---
4) Alterando a questão anterior, acrescentando a string "Livro" na posição zero.

In [ ]:
itens = []
itens.append("Livros")
itens.append("Caderno")
itens.append("Borracha")
#alterando o item caderno para regua
itens[1] = "Régua"
if "Caderno" in itens:
  print('A lista contém caderno')
print(f'Quantos elementos a na lista: {len(itens)}')
ultimo_item = itens.pop() #removendo o último item da lista
print(f'Após o remoção do último itens: {len(itens)}')
fatia = itens[-2:]
print(f'Os dois últimos elementos da lista são: {fatia}')
itens.insert(0, "Livro")
print(f'Conteúdo da lista: {itens}')

Quantos elementos a na lista: 3
Após o remoção do último itens: 2
Os dois últimos elementos da lista são: ['Livros', 'Régua']
Conteúdo da lista: ['Livro', 'Livros', 'Régua']

---
5) Crie um conjunto, A, com número de 1 a 5 e outro conjunto, B, com os números pares de 0 a 10. Exiba a únião e a interseção de A e B.

In [ ]:
A = {1, 2, 3, 4, 5}
B = {0, 2, 4, 6, 8, 10}
print(f'A união de B = {A|B}')
print(f'A interseção de B = {A&B}')

A união de B = {0, 1, 2, 3, 4, 5, 6, 8, 10}
A interseção de B = {2, 4}

---
#### ***EXERCÍCIOS PROPOSTOS DO LIVRO - pág 64***

1º)

In [ ]:
teste = [1, 2, 3, 4, 5]
print(f'Segundo elemento da lista \"TESTE\": {teste[1]}')
print(f'\n Lista completa: {teste}')

Segundo elemento da lista "TESTE": 2

 Lista completa: [1, 2, 3, 4, 5]

---
2º)

In [ ]:
teste2 = [6, 7, 8, 9, 10]
teste1_2 = []
teste1_2.extend(teste)
print(f'Estendendo a 1º lista \"TESTE\": {teste1_2}')
teste1_2.extend(teste2)
print(f'Estendendo a 2º lista \"TESTE2\": {teste1_2}')

Estendendo a 1º lista "TESTE": [1, 2, 3, 4, 5]
Estendendo a 2º lista "TESTE2": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

---
3º)

In [ ]:
primos = {2, 3, 5, 7, 11, 13, 17, 19}
pares = {0, 2, 4, 6, 8, 10}
impares  = {11, 13, 15, 17, 19}
print(f'A união dos conjuntos = {pares|(primos&impares)}') #união de pares com a interseção de primos e impares

A união dos conjuntos = {0, 2, 4, 6, 8, 10, 11, 13, 17, 19}

resolvido

In [ ]:
primos = {2, 3, 5, 7, 11, 13, 17, 19}
pares = {0, 2, 4, 6, 8, 10}
impares = {11, 13, 15, 17, 19}
resultado = pares | (primos & impares)
print(resultado)

{0, 2, 4, 6, 8, 10, 11, 13, 17, 19}

4º)

In [ ]:
from collections import Counter
dna = 'CGCGGACCTTTCCCAAA'
c1 = Counter(dna)
print(c1)

Counter({'C': 7, 'A': 4, 'G': 3, 'T': 3})

\
##CAPÍTULO 03

#### ***EXERCÍCIOS RESOLVIDOS DO LIVRO***

In [ ]:
n1 = 15
n2 = 78
n3 = 1
if (n1 > n2) and (n1 > n3):
  print(f'{n1} é maior que {n2} e {n3}')
elif (n2 > n1) and (n2 > n3):
  print(f'{n2} é maior que {n1} e {n3}')
else:
  print(f'{n3} é maior que {n1} e {n2}')

78 é maior que 15 e 1

In [ ]:
lado1 = 3
lado2 = 8
lado3 = 10
resultado = False
if (lado2 + lado3 > lado1) and (lado1 + lado3 > lado2) and (lado1 + lado2 > lado3):
  print("Os valores formam um triângulo.")
else:
  print("Os valores não formam um triângulo.")

Os valores formam um triângulo.

In [ ]:
import random
numero_aleatorio = random.randint(-100, 101)

if numero_aleatorio > 0:
  print(f'{numero_aleatorio} é positivo.')
elif numero_aleatorio < 0:
  print(f'{numero_aleatorio} é negativo.')
else:
  print(f'{numero_aleatorio} é neutro.')

-97 é negativo.

#### ***EXERCÍCIOS PROPOSTOS DO LIVRO - pág 72***

In [ ]:
#@title Imprimindo mediana
var1 = 50
var2 = 30
var3 = 84
print(f'{var1} - {var2} - {var3}')
if (var1 > var2) and (var1 < var3):
  print(f'A mediana é {var1}.')
elif (var2 > var1) and (var2 < var3):
  print(f'A mediana é {var2}.')
elif (var3 > var1) and (var3 < var2):
  print(f'A mediana é {var3}.')

50 - 30 - 84
A mediana é 50.

In [ ]:
from math import sqrt
#@title Formando triângulo retâgulo:
import random
a = random.randint(1,11)
b = random.randint(1,11)
c = random.randint(1,11)
if (a > b) and (a > c):
    hipotenusa = a
    cateto1 = b
    cateto2 = c
if (b > a) and (b > c):
    hipotenusa = b
    cateto1 = a
    cateto2 = c
if (c > a) and (c > b):
    hipotenusa = c
    cateto1 = a
    cateto2 = b
if ((hipotenusa**2) == (cateto1**2) + (cateto2**2)):
    print(f'Os valores {a}, {b}, {c} formam um triângulo retângulo.')
else:
    print(f'Os valores {a}, {b}, {c} NÃO FORMAM um triângulo retângulo.')

Os valores 9, 10, 11 NÃO FORMAM um triângulo retângulo.

In [ ]:
#@title Sorteio:

red = blue = 0
for i in range(1, 11):
  cor = random.randint(0,2)
  if cor == 0:
    red += 1
  else:
    blue += 1
print(f'Resultado \n Azul: {blue} \n Vermelha: {red}')
if red > blue:
  print('\nA vermelha ganhou!')
elif blue > red:
  print('\nA azul ganhou!')
else:
  print('\nEmpate.')

Resultado
 Azul: 5
 Vermelha: 5

Empate.

\
##CAPÍTULO 04

#### ***EXERCÍCIOS RESOLVIDOS DO LIVRO***

In [ ]:
#@title #####1) Lista entre 5.000 e 10.000 que são divisiveis por 3 e 7:

for x in range (5000, 10001):
    if(x % 3 == 0) and (x % 7 == 0):
        print(f'{x} é divisivel por 3 e 7')

In [ ]:
#@title #####2) *List comprehension*, listando os nº do conjunto:

lista = [x*2 for x in range(0,51)]
print(lista)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

#### ***EXERCÍCIOS PROPOSTOS DO LIVRO - pág 89***

In [ ]:
#@title #####1) Nº pares e divisíveis por 4 e 3. Entre 2.000 e 5.000
c = 0
for x in range(2000, 5001):
  if(x%2 == 0) and (x % 3 == 0) and (x % 4 == 0):
    print(x)
    c += 1
print(f'Existem {c} números pares entre 2000 e 5000 que são divisíveis por 3 e 4.')

In [ ]:
#@title #####2) Multiplicando cada valor da lista por 1.5
lista = [x*2 for x in range(0,51)]
for x in lista:
  print(x *1.5)

In [ ]:
#@title #####3) Crivo de Eratóstenes, encontrando primos:

import math
numeros = []
for i in range(121):
    numeros.append(True)
i = 2
while(i <= math.sqrt(120)):
    if numeros[i]:
        for j in range(i*2, 121, i):
            numeros[j]=False
    i = i+1
for i in range(2,121):
  if numeros[i]:
      print(i, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113

\
##CAPÍTULO 05

#### ***EXERCÍCIOS RESOLVIDOS DO LIVRO***

In [ ]:
#@title #####1) Criando uma função para calcular o coeficiente angular:

def coef_angular(x1, y1, x2, y2):
  resultado = 0
  deltay = y2 - y1
  deltax = x2 - x1
  if(deltax == 0):
    print('Reta vertical - coeficiente angular -> INFINITO')
  else:
    resultado = deltay/deltax
    print(f'''O coeficiente angular da reta formada por:
({x1}, {y1}) e ({x2}, {y2}) = {resultado}''')
  return resultado

coef_angular(4,10,4,12)

Reta vertical - coeficiente angular -> INFINITO

0

In [ ]:
#@title #####2) Função para calcular a capacidade em litros de um tanque:

def volume_litros(alt, larg, comp):
  resultado_m3= alt * larg * comp
  resultado_litros= resultado_m3 * 1000
  return resultado_litros

vol_l(10, 56, 24)

13440000

In [ ]:
#@title #####3) Função para calcular a quantidade de combustivel necessário em viagem:

def consumo(distancia_km, consumo_km_l):
  resultado = distancia_km/consumo_km_l
  print(f'Serão necessário {resultado} litros de combustível.')
  return resultado

consumo(460, 10)

Serão necessário 46.0 litros de combustível.

46.0

\
#### ***EXERCÍCIOS PROPOSTOS DO LIVRO - pág 97***

In [ ]:
#@title #####1) Função para calcular distancia em um plano cartesiano:
import math
def calculando_distancia(xa, ya, xb, yb):
  distancia_ab = pow((xb - xa),2) + pow((yb - ya),2)
  raiz_distancia_ab = sqrt(distancia_ab)
  return raiz_distancia_ab

calculando_distancia(6, 1, 3, 5)

5.0

In [ ]:
#@title #####2) Calculando o custo para encher o tanque
def volume_litros(alt, larg, comp):
  resultado_m3= alt * larg * comp
  resultado_litros= resultado_m3 * 1000
  valor = float(input('Digite o preço da água por litro: '))
  preco = valor * resultado_litros
  print(f'O preço para encher o tanque {resultado_litros} = R${preco}')
  return resultado_litros

volume_litros(10,10,10)

Digite o preço da água por litro: 3.2
O preço para encher o tanque 1000000 = R$3200000.0

1000000

In [ ]:
#@title #####3) Calculando o custo de um cobustivel para viagem:

def calculando_custo_combustivel(distancia_km, consumo_km_l, preco):
  combustivel_necessario = distancia_km / consumo_km_l
  custo_com_combustivel = combustivel * preco
  print(custo_com_combustivel)
  return custo_com_combustivel

  calculando_custo_combustivel(450, 11.5, 5.89)